@using Newtonsoft.Json
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<ExpertPackageResponse> listPackages = ViewBag.packages;
    List<ExpertPackageResponse.User> nutritionists = ViewBag.nutritionists;
    int currentPage = ViewBag.CurrentPage;
    int totalPages = ViewBag.TotalPages;
    string searchQuery = ViewBag.SearchQuery;
}

<link rel="stylesheet" href="~/css/listPackages.css">
<link rel="stylesheet" href="~/css/toast.css" />


<input type="hidden" name="errMsg" value="@ViewBag.AlertMessage" onchange="showErrorToast(e.target.value);" />
<input type="hidden" name="successMsg" value="@ViewBag.SuccessMessage" />

<div class="row" style="width: 100%;">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">List Packages</h4>

                <!-- Search form -->
                <form method="get" action="@Url.Action("ListPackages", "Admin")" style="padding: 8px 10px;">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="searchQuery" placeholder="Search by name" value="@searchQuery" />
                        <div class="input-group-append">
                            <button class="btn btn-success btn-fw" type="submit">
                                <i class="mdi mdi-magnify"></i>
                                Search
                            </button>
                        </div>
                    </div>
                </form>

                @if (listPackages == null || listPackages.Count == 0)
                {
                    <h1>There is no packages.</h1>
                }
                else
                {
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th> # </th>
                                    <th> Name </th>
                                    <th> Description </th>
                                    <th> Price </th>
                                    <th> Duration </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < listPackages.Count; i++)
                                {
                                    ExpertPackageResponse u = listPackages[i];
                                    <tr>
                                        @{
                                            var userJson = JsonConvert.SerializeObject(u.Nutritionists);
                                        }
                                        <td>@(i + 1)</td>
                                        <td>@u.Package.Name</td>
                                        <td>@u.Package.Describe</td>
                                        <td> @u.Package.Price </td>
                                        <td> @u.Package.Duration </td>
                                        <td class="d-flex align-items-center justify-content-between">
                                            <div class="action-icon" id="edit-@u.Package.Id"
                                                 onclick="openModalUpdate(@u.Package.Id, '@u.Package.Name', '@u.Package.Describe', '@u.Package.Price', '@u.Package.Duration', @userJson);">
                                                <i class="mdi mdi-pencil"></i>
                                            </div>

                                            <a asp-controller="Admin" asp-action="DeletePackage" asp-route-Id="@u.Package.Id"
                                               class="action-icon" onclick="return confirmDelete();">
                                                <i class="mdi mdi-delete"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <!-- Pagination controls -->
                    <nav aria-label="Page navigation" style="padding: 50px 0 0 0;">
                        <ul class="pagination justify-content-center">
                            @if (currentPage > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("ListPackages", new { page = currentPage - 1 })">Previous</a>
                                </li>
                            }
                            @for (int i = 1; i <= totalPages; i++)
                            {
                                <li class="page-item @(i == currentPage ? "active" : "")">
                                    <a class="page-link" href="@Url.Action("ListPackages", new { page = i })">@i</a>
                                </li>
                            }
                            @if (currentPage < totalPages)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("ListPackages", new { page = currentPage + 1 })">Next</a>
                                </li>
                            }
                        </ul>
                    </nav>
                }
            </div>
        </div>
    </div>
</div>

<button type="button" class="fab" data-toggle="modal" data-target="#addPackageModal" onclick="openModalAdd()">
    <i class="mdi mdi-plus"></i>
</button>
<!-- add package modal-->
<div class="modal-overlay" id="modalOverlay">
    <!-- Modal -->
    <div class="modal1">
        <div class="modal1-header">
            <span>Add Expert Packages</span>
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
        <div class="modal1-body">
            <form id="addPackageForm" asp-controller="Admin" asp-action="AddPackage" method="post">
                <label>Name:</label>
                <input class="ms-auto" type="text" name="p_name" required />

                <label>Description:</label>
                <input class="ms-auto" type="text" name="p_desc" required />

                <label>Price:</label>
                <input class="ms-auto" type="number" value="0" min="0" name="p_price" required />

                <label>Duration:</label>
                <input class="ms-auto" type="number" value="0" min="0" name="p_duration" required />
            </form>
        </div>
        <div class="modal1-footer">
            <button class="btn-cancel" onclick="closeModal()">Cancel</button>
            <button class="btn-save" onclick="AddPackage()">Save</button>
        </div>
    </div>
</div>
<!-- update package modal-->
<div class="modal-overlay" id="modalOverlay1">
    <!-- Modal -->
    <div class="modal1">
        <div class="modal1-header">
            <span>Update Expert Packages</span>
            <span class="close" onclick="closeModal()">&times;</span>
        </div>

        <!-- Tab Navigation -->
        <div class="tab-navigation">
            <button class="tab-button active" onclick="openTab(event, 'tab1')">Basic Info</button>
            <button class="tab-button" onclick="openTab(event, 'tab2')">Nutritionists</button>
        </div>

        <div class="modal1-body">
            <div id="tab1" class="tab-content active">
                <form id="updatePackageForm" asp-controller="Admin" asp-action="UpdatePackage" method="post">
                    <input type="hidden" name="p_id" value="" />
                    <label>Name:</label>
                    <input class="ms-auto" type="text" name="p_name" required />

                    <label>Description:</label>
                    <input class="ms-auto" type="text" name="p_desc" required />

                    <label>Price:</label>
                    <input class="ms-auto" type="number" value="0" min="0" name="p_price" required />

                    <label>Duration:</label>
                    <input class="ms-auto" type="number" value="0" min="0" name="p_duration" required />
                </form>

                
            </div>
            
            <div id="tab2" class="tab-content">
                <form id="updatePackageNutriForm" asp-controller="Admin" asp-action="UpdatePackageNutri" method="post">
                    <input type="hidden" name="p_id" value="" />
                    
                </form>

                <div id="nutriTable">
                </div>

                <br/>

                <label for="nutritionistsSelect">Nutritionists: </label>
                <div class="form-group d-flex">
                    <select class="form-control form-control-sm" id="nutritionistsSelect">
                        @foreach (var n in nutritionists)
                        {
                            <option value="@n.Id" id="opt-@n.Id">
                                @n.Name - @n.Account
                            </option>
                        }
                    </select>
                    <button class="btn-save myBtn" onclick="AddNutri();">Add</button>
                </div>

            </div>

            <div class="modal1-footer">
                <button class="btn-cancel" onclick="closeModal();">Cancel</button>
                <button class="btn-save" onclick="EditPackage();">Save</button>
            </div>
        </div>
        
    </div>
</div>
<div id="toast"></div>

<script src="~/js/listPackage.js"></script>
<script src="~/js/toast.js"></script>
