@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<User> listNutritionists = ViewBag.listNutritionists;
    int currentPage = ViewBag.CurrentPage;
    int totalPages = ViewBag.TotalPages;
    string searchQuery = ViewBag.SearchQuery;
}

<div class="row" style="width: 100%;">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Danh sách chuyên gia</h4>

                <!-- Search form -->
                <form method="get" action="@Url.Action("ListNutritionist", "Admin")" style="padding: 8px 10px;">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="searchQuery" placeholder="Tìm kiếm theo tên" value="@searchQuery" />
                        <div class="input-group-append">
                            <button class="btn btn-success btn-fw" type="submit">
                                <i class="mdi mdi-magnify"></i>
                                Tìm kiếm
                            </button>
                        </div>
                    </div>
                </form>

                @if (listNutritionists == null || listNutritionists.Count == 0)
                {
                    <h1>Hiện không có chuyên gia.</h1>
                }
                else
                {
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th> # </th>
                                    <th> Tên tài khoản </th>
                                    <th> Họ và tên </th>
                                    <th> Địa chỉ </th>
                                    <th> Số điện thoại </th>
                                    <th> Trạng thái </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < listNutritionists.Count; i++)
                                {
                                    User u = listNutritionists[i];
                                    <tr>
                                        <td>@(i + 1)</td>
                                        <td>@u.Account</td>
                                        <td>@u.FirstName @u.LastName</td>
                                        <td> @u.Address </td>
                                        <td> @u.Phone </td>
                                        <td>
                                            @if (u.IsActive == true)
                                            {
                                                <label class="badge badge-gradient-success">Active</label>
                                            }
                                            else
                                            {
                                                <label class="badge badge-gradient-danger">Inactive</label>
                                            }
                                        </td>
                                        <td>
                                            <a class="btn-link" asp-controller="Admin" asp-action="NutritionistDetail" asp-route-nutritionistId="@u.UserId">Xem</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <!-- Pagination controls -->
                    <nav aria-label="Page navigation" style="padding: 50px 0 0 0;">
                        <ul class="pagination justify-content-center">
                            @if (currentPage > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("ListNutritionist", new { page = currentPage - 1 })">Previous</a>
                                </li>
                            }
                            @for (int i = 1; i <= totalPages; i++)
                            {
                                <li class="page-item @(i == currentPage ? "active" : "")">
                                    <a class="page-link" href="@Url.Action("ListNutritionist", new { page = i })">@i</a>
                                </li>
                            }
                            @if (currentPage < totalPages)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("ListNutritionist", new { page = currentPage + 1 })">Next</a>
                                </li>
                            }
                        </ul>
                    </nav>
                }
            </div>
        </div>
    </div>
</div>