@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    User user = ViewBag.user;
}
<link rel="stylesheet" href="~/css/listUser.css">
<link rel="stylesheet" href="~/css/toast.css" />

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card profile-wrapper">
            <div class="profile-header row">
                <div class="avatar col-3">
                    @if(user.Urlimage == null || user.Urlimage.Length == 0)
                    {
                        <img src="~/images/default_avatar.png" alt="avatar" style="width: 100%"/>
                    }
                    else
                    {
                        <img src="@user.Urlimage" alt="avatar"
                             onerror="this.src='/images/default_avatar.png'; this.onerror=null; " />
                    }
                </div>

                <div class="full-name col-5">
                    @user.FirstName @user.LastName
                    <br>
                    @if (user.UserDetail is null 
                    || user.UserDetail.DescribeYourself is null 
                    || user.UserDetail.DescribeYourself.Length == 0)
                    {
                        <p>Không có mô tả</p>
                    }
                    else
                    {
                        <p>@user.UserDetail.DescribeYourself</p>
                    }
                </div>

                <div class="action col-4">
                    </br></br>
                    <form asp-controller="Admin" asp-action="UpdateUserStatus" method="post">
                        <input type="hidden" name="userId" value="@user.UserId" />
                        <input type="hidden" name="returnUrl" value="@Url.Action("UserDetail", "Admin")" />
                        @if (user.IsActive is not null && user.IsActive == true)
                        {
                            <input type="hidden" name="status" value="0" />
                            <button type="submit" class="btn btn-gradient-danger btn-fw">
                                Disable
                            </button>
                        }
                        else
                        {
                            <input type="hidden" name="status" value="1" />
                            <button type="submit" class="btn btn-gradient-success btn-fw">
                                Enable
                            </button>
                        }
                    </form>
                </div>
            </div>

            <div class="hr"></div>

            <div class="profile-body">
                <div class="basic-info">
                    <div class="form-group row">
                        <label for="user-account-input" class="col-sm-3 col-form-label">Tên tài khoản</label>
                        <div class="col-sm-9">
                            <input type="text" disabled class="form-control user-info-input" id="user-account-input" placeholder="Tên tài khoản người dùng" value="@user.Account">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="user-firstname-input" class="col-sm-3 col-form-label">Tên</label>
                        <div class="col-sm-9">
                            <input type="text" disabled class="form-control" id="user-firstname-input" placeholder="Tên người dùng" value="@user.FirstName">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="user-lastname-input" class="col-sm-3 col-form-label">Họ</label>
                        <div class="col-sm-9">
                            <input type="text" disabled class="form-control" id="user-lastname-input" placeholder="Họ người dùng" value="@user.LastName">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Giới tính</label>
                        <div class="form-group gender">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" disabled class="form-check-input" name="user_gender" id="user_gender_male" value="1" @(user.Gender is null ? "checked" : (bool)user.Gender ? "checked" : "")> Nam <i class="input-helper"></i>
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" disabled class="form-check-input" name="user_gender" id="user_gender_female" value="0" @(user.Gender is null ? "" : (bool)user.Gender ? "" : "checked")> Nữ<i class="input-helper"></i>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="user-lastname-input" class="col-sm-3 col-form-label">Ngày sinh</label>
                        <div class="col-sm-9">
                            <input type="text" disabled class="form-control" id="user-lastname-input" placeholder="Ngày sinh người dùng" value="@user.Dob">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="user-address-input" class="col-sm-3 col-form-label">Địa chỉ</label>
                        <div class="col-sm-9">
                            <input type="text" disabled class="form-control" id="user-address-input" placeholder="Địa chỉ người dùng value="@user.Address">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="user-phone-input" class="col-sm-3 col-form-label">Số điện thoại</label>
                        <div class="col-sm-9">
                            <input type="text" disabled class="form-control" id="user-phone-input" placeholder="Số điện thoại người dùng" value="@user.Phone">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Trạng thái</label>
                        <div class="form-group status">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" disabled class="form-check-input" name="user_status" id="user_status_active" value="1" @((bool)user.IsActive ? "checked" : "")> Active <i class="input-helper"></i>
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" disabled class="form-check-input" name="user_status" id="user_status_inactive" value="0" @((bool)user.IsActive ? "" : "checked")> Inactive <i class="input-helper"></i>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Vai trò người dùng</label>
                        <div class="col-sm-7">
                            <select class="form-select ms-auto" name="urole" id="urole">
                                <option value="1">Admin</option>
                                <option value="2" >Nutritionist</option>
                                @if (user.UserRole.RoleId == 3)
                                {
                                    <option value="3" selected>User Premium</option>
                                    <option value="4">User</option>
                                }
                                else if (user.UserRole.RoleId == 4)
                                {
                                    <option value="3">User Premium</option>
                                    <option value="4" selected>User</option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <button id="btnSaveRole" onclick="SaveRole(@user.UserId, 'user')">Lưu vai trò</button>
                        </div>
                    </div>
                </div>

                <div class="detail-info">

                </div>
            </div>
        </div>
    </div>
</div>
<div id="toast"></div>
<script src="~/js/toast.js"></script>
<script src="~/js/saveUserRole.js"></script>