@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<IngredientDetails100g> listIngredients = ViewBag.listIngredients;
    int currentPage = ViewBag.CurrentPage;
    int totalPages = ViewBag.TotalPages;
    string searchQuery = ViewBag.SearchQuery;
}

<div class="row" style="width: 100%;">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" style="font-size: 1.5rem;">List Ingredients</h4>

                <!-- Search form -->
                <form method="get" action="@Url.Action("IngredientsList", "Admin")" style="padding: 8px 10px;">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="searchQuery" placeholder="Search by name" value="@searchQuery" />
                        <div class="input-group-append">
                            <button class="btn btn-success btn-fw" type="submit">
                                <i class="mdi mdi-magnify"></i>
                                Search
                            </button>
                        </div>
                    </div>
                </form>

                @if (listIngredients == null || listIngredients.Count == 0)
                {
                    <h1>There is no ingredient.</h1>
                }
                else
                {
                    <div class="row" style="background: #d1e7dd;margin: 0; font-weight: bold; padding: 1rem 1.25rem; border: 1px solid rgba(0, 0, 0, 0.125);">
                        <div class="col-1">#</div>
                        <div class="col-2 text-center">Image</div>
                        <div class="col-2">Name</div>
                        <div class="col-6">Description</div>
                        <div class="col-1"></div>
                    </div>
                    @for (int i = 0; i < listIngredients.Count; i++)
                    {
                        IngredientDetails100g ingre = listIngredients[i];
                        <div class="accordion-item">
                            <div class="accordion-header" style="cursor: pointer;">
                                <div class="row accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#coll_@ingre.Id" aria-expanded="true" aria-controls="coll_@ingre.Id" style="margin: 0;">
                                    <div class="col-1">
                                        @(i+1)
                                    </div>
                                    <div class="col-2">
                                        @if (ingre.Urlimage == null || ingre.Urlimage.Length == 0)
                                        {
                                            <img src="~/images/foods/default_food.png" alt="default" style="width: 100%; height: auto; border-radius: 0;" />
                                        }
                                        else
                                        {
                                            <img src="~/images/@ingre.Urlimage" alt="@ingre.Name"
                                                    onerror="this.src='/images/foods/default_food.png'; this.onerror=null; " style="width: 100%; height: auto; border-radius: 5px;" />
                                        }
                                    </div>
                                    <div class="col-2">
                                        @ingre.Name
                                    </div>
                                    <div class="col-6">
                                        @ingre.Describe
                                    </div>
                                </div>
                            </div>
                            <div id="coll_@ingre.Id" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <h4>Nutritional values:</h4>
                                    @{
                                        var properties = typeof(SEP490_G87_Vita_Nutrient_System_Client.Models.IngredientDetails100g)
                                                                    .GetProperties()
                                                                    .SkipWhile(p => p.Name != "Energy")
                                                                    .Where(p => (p.GetValue(ingre) as double?) != 0);

                                        int a = 0;

                                        if(properties.Count() % 3 == 0){ a = properties.Count() / 3 - 1; }
                                        else { a = properties.Count() / 3; }

                                        <div class="row">
                                            <div class="col-4">
                                                @for(int j = 0; j <= a; j++)
                                                {
                                                    var value = properties.ElementAt(j).GetValue(ingre) as double?;
                                                    <p>@properties.ElementAt(j).Name: @value</p>
                                                }
                                            </div>

                                            <div class="col-4">
                                                @for (int k = a+1; k <= 2*a+1; k++)
                                                {
                                                    var value = properties.ElementAt(k).GetValue(ingre) as double?;
                                                    <p>@properties.ElementAt(k).Name: @value</p>
                                                }
                                            </div>

                                            <div class="col-4">
                                                @for (int l = 2*a+2; l < properties.Count(); l++)
                                                {
                                                    var value = properties.ElementAt(l).GetValue(ingre) as double?;
                                                    <p>@properties.ElementAt(l).Name: @value</p>
                                                }
                                            </div>
                                        </div>
                                    }

                                    <div class="d-flex" style="font-size: 25px;">
                                        <a href="#" class="ms-auto" style="padding: 0px 5px; margin-right: 10px;">
                                            <i class="mdi mdi-pencil"></i>
                                        </a>
                                        <a href="#" style="padding: 0px 5px; margin-left: 10px;">
                                            <i class="mdi mdi-delete"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <!-- Pagination controls -->
                    <nav aria-label="Page navigation" style="padding: 50px 0 0 0;">
                        <ul class="pagination justify-content-center">
                            @if (currentPage > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("IngredientsList", new { page = currentPage - 1 })">Previous</a>
                                </li>
                            }
                            @for (int i = 1; i <= totalPages; i++)
                            {
                                <li class="page-item @(i == currentPage ? "active" : "")">
                                    <a class="page-link" href="@Url.Action("IngredientsList", new { page = i })">@i</a>
                                </li>
                            }
                            @if (currentPage < totalPages)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("IngredientsList", new { page = currentPage + 1 })">Next</a>
                                </li>
                            }
                        </ul>
                    </nav>
                }
            </div>
        </div>
    </div>
</div>

 