@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<IngredientDetails100g> listIngredients = ViewBag.listIngredients;
    List<KeyNote> listKeynotes = ViewBag.listKeynotes;
    List<TypeOfCalculation> listTypesOfCalculation = ViewBag.listTypesOfCalculation;
    int currentPage = ViewBag.CurrentPage;
    int totalPages = ViewBag.TotalPages;
    string searchQuery = ViewBag.SearchQuery;
}

<link rel="stylesheet" href="~/css/ingredientlist.css" />

<div class="row" style="width: 100%;">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" style="font-size: 1.5rem;">List Ingredients</h4>

                <!-- Search form -->
                <form method="get" action="@Url.Action("IngredientsList", "Admin")" style="padding: 8px 10px;">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="searchQuery" placeholder="Search by name" value="@searchQuery" />
                        <div class="input-group-append">
                            <button class="btn btn-success btn-fw" type="submit">
                                <i class="mdi mdi-magnify"></i>
                                Search
                            </button>
                        </div>
                    </div>
                </form>

                @if (listIngredients == null || listIngredients.Count == 0)
                {
                    <h1>There is no ingredient.</h1>
                }
                else
                {
                    <div class="row" style="background: #d1e7dd;margin: 0; font-weight: bold; padding: 1rem 1.25rem; border: 1px solid rgba(0, 0, 0, 0.125);">
                        <div class="col-1">#</div>
                        <div class="col-2 text-center">Image</div>
                        <div class="col-2">Name</div>
                        <div class="col-6">Description</div>
                        <div class="col-1"></div>
                    </div>
                    @for (int i = 0; i < listIngredients.Count; i++)
                    {
                        IngredientDetails100g ingre = listIngredients[i];
                        <div class="accordion-item">
                            <div class="accordion-header" style="cursor: pointer;">
                                <div class="row accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#coll_@ingre.Id" aria-expanded="true" aria-controls="coll_@ingre.Id" style="margin: 0;">
                                    <div class="col-1">
                                        @(i+1)
                                    </div>
                                    <div class="col-2">
                                        @if (ingre.Urlimage == null || ingre.Urlimage.Length == 0)
                                        {
                                            <img src="~/images/foods/default_food.png" alt="default" style="width: 100%; height: auto; border-radius: 0;" />
                                        }
                                        else
                                        {
                                            <img src="~/images/@ingre.Urlimage" alt="@ingre.Name"
                                                    onerror="this.src='/images/foods/default_food.png'; this.onerror=null; " style="width: 100%; height: auto; border-radius: 5px;" />
                                        }
                                    </div>
                                    <div class="col-2">
                                        @ingre.Name
                                    </div>
                                    <div class="col-6">
                                        @ingre.Describe
                                    </div>
                                </div>
                            </div>
                            <div id="coll_@ingre.Id" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <h4>Nutritional values:</h4>
                                    @{
                                        var properties = typeof(SEP490_G87_Vita_Nutrient_System_Client.Models.IngredientDetails100g)
                                        .GetProperties()
                                        .SkipWhile(p => p.Name != "Energy")
                                        .Where(p =>
                                        {
                                            var value = p.GetValue(ingre);
                                            return value == null || (value is int && (int)value != 0)
                                                    || (value is double && (double)value != 0)
                                                    || (value is short && (short)value != 0);
                                        });

                                        <div class="d-flex flex-wrap" style="gap: 10px;">
                                            @foreach(var p in properties)
                                            {
                                                <div style="flex: 1 1 30%; box-sizing: border-box;">
                                                    @{var value = p.GetValue(ingre);}
                                                    <p>@p.Name: @value</p>
                                                </div>
                                            }
                                        </div>
                                    }

                                    <div class="d-flex" style="font-size: 25px;">
                                        <a asp-controller="Admin" asp-action="UpdateIngredient" asp-route-Id="@ingre.Id" class="ms-auto" style="padding: 0px 5px; margin-right: 10px;">
                                            <i class="mdi mdi-pencil"></i>
                                        </a>
                                        <a asp-controller="Admin" asp-action="DeleteIngredient" asp-route-Id="@ingre.Id" style="padding: 0px 5px; margin-left: 10px;" onclick="return confirmDelete();">
                                            <i class="mdi mdi-delete"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <!-- Pagination controls -->
                    <nav aria-label="Page navigation" style="padding: 50px 0 0 0;">
                        <ul class="pagination justify-content-center">
                            @if (currentPage > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("IngredientsList", new { page = currentPage - 1 })">Previous</a>
                                </li>
                            }
                            @for (int i = 1; i <= totalPages; i++)
                            {
                                <li class="page-item @(i == currentPage ? "active" : "")">
                                    <a class="page-link" href="@Url.Action("IngredientsList", new { page = i })">@i</a>
                                </li>
                            }
                            @if (currentPage < totalPages)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("IngredientsList", new { page = currentPage + 1 })">Next</a>
                                </li>
                            }
                        </ul>
                    </nav>
                }
            </div>
        </div>
    </div>
</div>

<button type="button" class="fab" data-toggle="modal" data-target="#addIngredientModal" onclick="openModal()">
    <i class="mdi mdi-plus"></i>
</button>
<!-- Modal here-->
<div class="modal-overlay" id="modalOverlay">
    <!-- Modal -->
    <div class="modal1">
        <div class="modal1-header">
            <span>Add Ingredient</span>
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
        <div class="modal1-body">
            <form id="ingredientForm" asp-controller="Admin" asp-action="AddIngredient" method="post">
                <label>Name:</label>
                <input class="ms-auto" type="text" name="in_name" required/>

                <label>Description:</label>
                <input class="ms-auto" type="text" name="in_desc" />

                <label>Url image:</label>
                <input class="ms-auto" type="text" name="in_imgurl" />

                <label>Key note:</label>
                <select class="form-select ms-auto" name="keynoteId">
                    @foreach(KeyNote keyNote in listKeynotes)
                    {
                        <option value="@keyNote.Id">@keyNote.KeyList</option>
                    }
                </select>

                <label>Type of calculation:</label>
                <select class="form-select ms-auto" name="typeOfCalculationId">
                    @foreach (TypeOfCalculation t in listTypesOfCalculation)
                    {
                        <option value="@t.TypeId">@t.CalculationForm</option>
                    }
                </select>
            </form>
        </div>
        <div class="modal1-footer">
            <button class="btn-cancel" onclick="closeModal()">Cancel</button>
            <button class="btn-save" onclick="document.getElementById('ingredientForm').submit();">Save</button>
        </div>
    </div>
</div>

<script src="~/js/ingredientlist.js"></script>
