@using SEP490_G87_Vita_Nutrient_System_Client.Domain.Enums
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<FoodList> foods = ViewBag.foods;
    int currentPage = ViewBag.currentPage ?? 0;
    int totalPages = ViewBag.totalPages ?? 0;
    string searchQuery = ViewBag.searchQuery;
    List<FoodType> foodTypes = ViewBag.foodTypes;
    int typeId = ViewBag.foodTypeId ?? 0;
    FoodType foodType = ViewBag.foodType;
}

<link rel="stylesheet" href="~/css/foodlist.css">

<div class="foodlist-page">
    <div class="modal-header">
        <div class="modal-title">List Foods</div>
    </div>
     <div class="grid-margin">
            <div class="card">
                <div class="card-body">
                    <!-- Search form -->
                    <div class="d-flex mb-3">
                        <form class="search-block" method="get" action="@Url.Action("FoodList", "User")">
                            <div class="input-group">
                                <input type="hidden" name="foodTypeId" value="@typeId" />
                                <input type="text" class="form-control" name="searchQuery" placeholder="Search by name"
                                    value="@searchQuery" />
                                <div class="input-group-append">
                                    <button class="btn btn-success btn-bg-primary btn-fw" type="submit">
                                        <i class="mdi mdi-magnify"></i>
                                        Search
                                    </button>
                                </div>
                            </div>
                        </form>

                        <div class="type-filter">
                            <div class="dropdown" style="float: right;">
                                <button id="typeFilterButton"
                                    class="btn btn-border-text-primary">@foodType.Name</button>
                                <ul class="dropdown-menu dropdown-center">
                                    <li id="0" onclick="updateFoodType(0, 'All types')">All types</li>
                                    @foreach (FoodType ft in foodTypes)
                                    {
                                        <li id="@ft.FoodTypeId" onclick="updateFoodType(@ft.FoodTypeId, '@ft.Name')">
                                            @ft.Name</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    @if (foods == null || foods.Count == 0)
                    {
                        <h1>There is no food.</h1>
                    }
                    else
                    {
                        <div class="food-container">
                            @for (int i = 0; i < foods.Count; i++)
                            {
                                FoodList f = foods[i];

                                <a class="food-card" asp-controller="User" asp-action="FoodDetails"
                                    asp-route-foodId="@f.FoodListId">
                                    <div class="food-img">
                                        @if (f.Urlimage == null || f.Urlimage.Length == 0)

                                        {
                                            <img src="~/images/foods/default_food.png" alt="default"
                                                style="width: 200px; height: auto;" />
                                        }
                                        else
                                        {
                                            <img src="~/images/@f.Urlimage" alt="@f.Name"
                                                onerror="this.src='/images/foods/default_food.png'; this.onerror=null; "
                                                style="width: 200px; height: auto;" />
                                        }
                                    </div>

                                    <div class="food-content">
                                        <span class="food-name">@f.Name</span>
                                        <span class="food-diff"> @((CookingDifficultyLevel)f.CookingDifficultyId)</span>
                                        <div class="d-flex food-ct">
                                            <i class="mdi mdi-clock"></i>
                                            @f.CookingTime (min)
                                        </div>
                                    </div>
                                </a>
                            }
                        </div>

                        <!-- Pagination controls -->
                        <nav aria-label="Page navigation" style="padding: 50px 0 0 0;">
                            <ul class="pagination justify-content-center">
                                @if (currentPage > 1)
                                {
                                    <li class="page-item">
                                        <a class="page-link"
                                            href="@Url.Action("FoodList", new { page = currentPage - 1 })">Previous</a>
                                    </li>
                                }
                                @for (int i = 1; i <= totalPages; i++)
                                {
                                    <li class="page-item @(i == currentPage ? "active" : "")">
                                        <a class="page-link" href="@Url.Action("FoodList", new { page = i })">@i</a>
                                    </li>
                                }
                                @if (currentPage < totalPages)
                                {
                                    <li class="page-item">
                                        <a class="page-link"
                                            href="@Url.Action("FoodList", new { page = currentPage + 1 })">Next</a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    }
                </div>
            </div>
        </div>
</div>

<script src="~/js/foodlist.js"></script>

